Repository kezmorz/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Removed unnecessary frontmatter.
  src/content/snippets/styled-night-owl.cy.mdx
  src/content/snippets/styled-night-owl.mdx
  src/content/snippets/test copy 2.mdx
  src/content/snippets/test copy 3.mdx
  src/content/snippets/test copy 4.mdx
  src/content/snippets/test copy.mdx
  src/content/snippets/test.cy.mdx
  src/content/snippets/test.mdx
Due: node scripts/mdx-update-frontmatter.js

Added extra snippet translations.
  src/content/snippets/test-copy-2.cy.mdx
  src/content/snippets/test-copy-2.mdx
  src/content/snippets/test-copy-3.cy.mdx
  src/content/snippets/test-copy-3.mdx
  src/content/snippets/test-copy-4.cy.mdx
  src/content/snippets/test-copy-4.mdx
  src/content/snippets/test-copy.cy.mdx
  src/content/snippets/test-copy.mdx
Due: node scripts/mdx-update-frontmatter.js

Modified fancy link component to apply active class name if path starts with current pathname.
  src/components/Link/index.js
Due: eslint --cache --fix, prettier --write

Added translations to dynamic snippet page.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added initial flickr album random photo snippet.
  src/content/snippets/flickr-album-random-photo.cy.mdx
  src/content/snippets/flickr-album-random-photo.mdx
Due: node scripts/mdx-update-frontmatter.js

Added skeleton analytics page views api route. Retrieve views from route and display in dynamic snippet page.
  src/content/snippets/analytics-client-id.cy.mdx
  src/content/snippets/analytics-client-id.mdx
  src/content/snippets/flickr-album-random-photo.cy.mdx
  src/content/snippets/flickr-album-random-photo.mdx
  src/content/snippets/styled-night-owl.mdx
  src/content/snippets/test-copy-2.cy.mdx
  src/content/snippets/test-copy-2.mdx
  src/content/snippets/test-copy-3.cy.mdx
  src/content/snippets/test-copy-3.mdx
  src/content/snippets/test-copy-4.cy.mdx
  src/content/snippets/test-copy-4.mdx
  src/content/snippets/test-copy.cy.mdx
  src/content/snippets/test-copy.mdx
  src/content/snippets/test.cy.mdx
  src/content/snippets/test.mdx
  src/pages/api/analytics/page-views.js
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added google analytics api for fetching page views.
  package.json
  src/lib/analytics.js
  src/lib/mail.js
  src/pages/api/analytics/page-views.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Added check in page views to ensure a value is always returned.
  src/pages/api/analytics/page-views.js
Due: eslint --cache --fix, prettier --write

Test default analytics cookieless config.
  src/lib/analytics.js
Due: eslint --cache --fix, prettier --write

Added loading indicator for snippet page views.
  src/lib/analytics.js
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write

Added loading indicator for snippet page views.
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write

Added text for snippets page.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added list markdown components. Added test list text to flickr content.
  src/components/Markdown/List/index.js
  src/components/Markdown/ListItem/index.js
  src/components/Markdown/index.js
  src/content/snippets/flickr-album-random-photo.mdx
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Simplified markdown components. Added test list in flickr api content.
  src/components/Markdown/Heading4/index.js
  src/components/Markdown/List/index.js
  src/components/Markdown/ListItem/index.js
  src/components/Markdown/OrderedList/index.js
  src/components/Markdown/Paragraph/index.js
  src/components/Markdown/UnorderedList/index.js
  src/components/Markdown/index.js
  src/content/snippets/flickr-album-random-photo.mdx
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added social links to dynamic snippet.
  src/content/snippets/flickr-album-random-photo.mdx
  src/pages/snippets/[slug].js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added url to social links in dynamic snippet.
  src/content/snippets/flickr-album-random-photo.mdx
  src/pages/snippets/[slug].js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Modified contact and snippet page header directions.
  src/pages/contact.js
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write

Moved styling in snippet card component to styled root.
  src/components/SnippetCard/index.js
Due: eslint --cache --fix, prettier --write

Added initial meta component implementation.
  src/components/Meta/index.js
  src/pages/snippets/[slug].js
  src/pages/timeline.js
Due: eslint --cache --fix, prettier --write

Added meta to all relevant pages. Added url builder helper function. Added text placeholder for page titles and descriptions.
  src/components/Meta/index.js
  src/pages/about.js
  src/pages/contact.js
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
  src/utils/misc.js
Due: eslint --cache --fix, prettier --write

Added text for page title and description.
  src/components/Meta/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Remove any query string parameters from pathname in meta component.
  src/components/Meta/index.js
Due: eslint --cache --fix, prettier --write

Added page title for dynamic snippet page.
  src/components/Meta/index.js
  src/content/snippets/flickr-album-random-photo.mdx
  src/pages/snippets/[slug].js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added text for about me metadata.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added welsh translation for twitter text.
  src/translations/cy.json
Due: prettier --write

Grouped all card components.
  src/components/Card/HobbyCard/index.js
  src/components/Card/SkillCard/index.js
  src/components/Card/SnippetCard/index.js
  src/components/Card/index.js
  src/lib/cloudinary.js
  src/pages/about.js
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write

Added Welsh translation.
  src/content/snippets/styled-night-owl.cy.mdx
Due: node scripts/mdx-update-frontmatter.js

Added home page metadata. Modified home page text in internationalisation.
  src/pages/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Defined on change function.
  src/pages/timeline.js
Due: eslint --cache --fix, prettier --write

Removed resume page. Removed media card component.
  src/components/MediaCard/index.js
  src/components/SettingsDrawer/index.js
  src/pages/resume.js
Due: eslint --cache --fix, prettier --write

Added layout and text for timeline section. Link now defaults to new tab if external.
  src/components/Footer/index.js
  src/components/Link/index.js
  src/pages/index.js
  src/pages/snippets/[slug].js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added testimonial component. Added initial testimonal section on home page. Small fix to hobby card props.
  src/components/Card/HobbyCard/index.js
  src/components/Card/TestimonialCard/index.js
  src/components/Card/index.js
  src/pages/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Updated testimonial card component.
  src/components/Card/TestimonialCard/index.js
  src/pages/index.js
  src/utils/math.js
Due: eslint --cache --fix, prettier --write

Test build.
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Added fancy snippet card component.
  package.json
  src/components/Card/FancySnippetCard/index.js
  src/components/Card/index.js
  src/pages/index.js
  src/translations/cy.json
  src/translations/en.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Added text. Fixed flex alignment.
  src/pages/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Add step event component. Added stepper with 4 events test. Modified some styling.
  src/components/Card/CharacteristicCard/index.js
  src/components/StepEvent/index.js
  src/pages/index.js
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write

Added text for step events.
  src/pages/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Updated step event icons. Modified step event background color.
  src/components/StepEvent/index.js
  src/pages/index.js
Due: eslint --cache --fix, prettier --write

Added extra buttons so change testimonial.
  src/pages/index.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,json}
  node scripts/mdx-update-frontmatter.js: any of: *.{md,mdx}
