Repository kezmorz/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added history text for english site.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added heading and subheading text.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added welsh translation for history paragraphs.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added placeholder images for hobbies.
  src/pages/about.js
Due: eslint --cache --fix, prettier --write

Added visit timeline suggestion and button. Added timeline text. Button text case is now unset by default.
  src/pages/about.js
  src/theme/createTypography.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added initial timeline skeleton page. Added timeline data to app bar component and footer component. Added initial timeline translations.
  src/components/AppBar/index.js
  src/components/Footer/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added initial timeline event component with some dummy data.
  package.json
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Position is now applied to timeline event component. Removed before styling for left and right positioning.
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
Due: eslint --cache --fix, prettier --write

Modified timeline event component. Timeline is now displayed differently on smaller devices. Removed mui lab package.
  package.json
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Added text for timeline events.
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Updated react, react-dom and next to latest versions. Added experimental features to next config to test.
  next.config.js
  package.json
  src/icons/Aws.js
  src/icons/Azure.js
  src/icons/AzurePipelines.js
  src/icons/Css.js
  src/icons/Express.js
  src/icons/GitHub.js
  src/icons/GitHubActions.js
  src/icons/Html.js
  src/icons/JavaScript.js
  src/icons/LinkedIn.js
  src/icons/Mantine.js
  src/icons/Mongodb.js
  src/icons/Mui.js
  src/icons/Nest.js
  src/icons/Next.js
  src/icons/Node.js
  src/icons/Postgresql.js
  src/icons/Prisma.js
  src/icons/React.js
  src/icons/Spotify.js
  src/icons/Strapi.js
  src/icons/Tailwind.js
  src/icons/TypeScript.js
  src/icons/Typeorm.js
  src/icons/Vercel.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

Removed experimental features.
  next.config.js
Due: eslint --cache --fix, prettier --write

Revert to react 17.0.2. Added experimental features to next config.
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Simplified date formatting.
  src/components/TimelineEvent/index.js
  src/pages/resume.js
  src/utils/date.js
Due: eslint --cache --fix, prettier --write

Small fix for date formatting.
  src/pages/resume.js
Due: eslint --cache --fix, prettier --write

Timeline event component now has correct layout. Added award tag. Renamed parameter in format date function. Removed unnecessary options in next-intl provider.
  src/components/TimelineEvent/index.js
  src/pages/_app.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
  src/utils/date.js
Due: eslint --cache --fix, prettier --write

Small css specificity fix in timeline event component.
  src/components/TimelineEvent/index.js
Due: eslint --cache --fix, prettier --write

Small variable rename in timeline event component.
  src/components/TimelineEvent/index.js
Due: eslint --cache --fix, prettier --write

Added final section buffer.
  src/pages/timeline.js
Due: eslint --cache --fix, prettier --write

Revert to default next eslint configuration.
  .eslintrc.json
  package.json
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Added translation capabilities for timeline event and categories.
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Fix mobile timeline position.
  src/pages/timeline.js
Due: eslint --cache --fix, prettier --write

Added heading and subheading text.
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Page no longer scrolls to top when changing language.
  src/components/AppBar/index.js
Due: eslint --cache --fix, prettier --write

Added timeline description text.
  src/translations/cy.json
  src/translations/en.json
Due: prettier --write

Added new timeline event variants. Added more events with translations.
  src/components/TimelineEvent/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Removed unnecessary prop. Added extra values to timeline event variant prop types. Fixed prop types typo in multiple components.
  src/components/HobbyCard/index.js
  src/components/MediaCard/index.js
  src/components/SkillCard/index.js
  src/components/TimelineEvent/index.js
Due: eslint --cache --fix, prettier --write

Added initial snippets page.
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added snippets page and dynamic snippet page. Added content layer to handle all snippet mdx files. Added snippet card component.
  .gitignore
  contentlayer.config.js
  jsconfig.json
  next.config.js
  package.json
  src/components/SnippetCard/index.js
  src/content/snippets/new-test.cy.mdx
  src/content/snippets/new-test.mdx
  src/content/snippets/test.cy.mdx
  src/content/snippets/test.mdx
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
  src/translations/cy.json
  src/translations/en.json
  yarn.lock
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added rehype and remark plugins to content layer. Added ability to search snippet and title and description.
  contentlayer.config.js
  package.json
  src/content/snippets/new-test.mdx
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
  src/pages/timeline.js
  src/translations/cy.json
  src/translations/en.json
  yarn.lock
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added tags to snippet content. Filtered snippets now take account of selected tags.
  contentlayer.config.js
  src/content/snippets/new-test.cy.mdx
  src/content/snippets/new-test.mdx
  src/content/snippets/test.cy.mdx
  src/content/snippets/test.mdx
  src/pages/snippets/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added tag toggle functionality.
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write

Added available tags array for disabling certain tags.
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write

Tag chips are now disabled when not available. Tag chips variant changes if selected.
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write

Updated wording of tag filtering.
  src/pages/snippets/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added information section to dynamic snippet page.
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
  src/translations/cy.json
  src/translations/en.json
Due: eslint --cache --fix, prettier --write

Added Pre markdown components with code styling.
  src/components/Markdown/Pre/index.js
  src/content/snippets/new-test.mdx
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added anchor markdown component. Modified spacing around markdown components. Added styled night owl snippet.
  scripts/mdx-update-frontmatter.js
  src/components/Markdown/Anchor/index.js
  src/components/Markdown/Heading4/index.js
  src/components/Markdown/Paragraph/index.js
  src/components/Markdown/index.js
  src/content/snippets/new-test.mdx
  src/content/snippets/styled-night-owl.cy.mdx
  src/content/snippets/styled-night-owl.mdx
  src/pages/snippets/[slug].js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Added logic for related snippets. Added 60 second revalidation to dynamic snippets.
  .prettierignore
  scripts/mdx-update-frontmatter.js
  src/content/snippets/test copy 2.mdx
  src/content/snippets/test copy 3.mdx
  src/content/snippets/test copy 4.mdx
  src/content/snippets/test copy.mdx
  src/pages/snippets/[slug].js
  src/pages/snippets/index.js
Due: eslint --cache --fix, prettier --write, node scripts/mdx-update-frontmatter.js

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,json}
  node scripts/mdx-update-frontmatter.js: any of: *.{md,mdx}
